accelerate
apex
asposestorage
colorama
conllu
datasets
elasticsearch
evaluate
fairscale
fairseq
jax
matplotlib
nltk
numpy
optax
packaging
pandas
petl
Pillow
requests==2.28.1
rouge
rouge_score
sacrebleu
scikit_learn
scipy
seqeval
streamlit
tensorboardX
tensorflow_datasets
timeout_decorator
tqdm
